<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Solveit solutions">
        <title>{% block title %}Nimi Kiddies World{% endblock %}</title>
        {% block stylesheets %}

          {% stylesheets filter="scssphp" output="css/app.css"
              "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
              "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
              "%kernel.root_dir%/Resources/assets/css/font.css"
              "%kernel.root_dir%/Resources/assets/css/admin.css"
              "%kernel.root_dir%/Resources/assets/css/carousel.css"
              "%kernel.root_dir%/Resources/assets/css/camera.css"
              "%kernel.root_dir%/Resources/assets/css/owl.theme.css"
              "%kernel.root_dir%/Resources/assets/css/chuma.css"

          %}
              <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.jpg') }}" />

     {% block javascript %}


{% endblock %}
 </head>
 <body>
  <header>
  </header>
<div class="container-fluid">
    {% block header %}
    {% if departments is defined %}
        <nav>
            <ul>
                {% for department in departments %}
                <li ><a href="/department/{{ department.id }}">{{ department.name | title }}<span class="caret"></span></a>
                <div>
                    <div class="col-sm-4">
                    <ul>
                        {% for category in department.category %}
                            <li><a href="/department/category/{{ category.id }}">{{ category.name |title }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>

                    <div style="background: url('{{ vich_uploader_asset(department, 'imageFile') }}') no-repeat;
                            background-size: contain;display:block
                           "class="col-sm-8">

                        <a href="/department/{{ department.id }}">
                            <div class="navLogoBadge">
                                <h1 class="navLogoText">Explore all  {{ department.name }} </h1>
                            </div>

                        </a>
                    </div>

                </div>

                </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    {% endblock %}
    <div class="clear-fix"></div>
</div>
      <div class="container">
         {% block body %}

          <div class="row">
              <div class="col-sm-9">
              {% block slider %}
              {% endblock %}
              </div>
              <div class="col-sm-3">
                  {% block ads %}
                  {% endblock %}
              </div>
          </div>
             <div class="clear-fix"></div>
          <div class="row">
              {% block slogan %}
              {% endblock %}
          </div>
          <div class="row">
              {% block content %}
              {% endblock %}
          </div>

      {% endblock %}
      </div>

  <footer>
 {#footer content goes here #}
  </footer>
        {% block javascripts %}

        {% javascripts filter="?jsqueeze" output="js/app.js"
            "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
            "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
            "%kernel.root_dir%/Resources/assets/js/carousel.js"
             "%kernel.root_dir%/Resources/assets/js/camera.min.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


            <script>
                $(document).ready(function() {
                    $("#newProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 30000,
                        items : 4,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                    $("#sponsoredProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 30000,
                        items : 4,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                    $("#featuredProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 3000,
                        items : 5,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                    $("#similarProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 3000,
                        items : 5,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                    $("#customersChoiceProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 3000,
                        items : 6,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                    $("#selectedProducts").owlCarousel({
                        transitionStyle :true,
                        stopOnHover:true,
                        scrollPerPage:true,
                        autoPlay: 3000,
                        items : 1,
                        itemsDesktop : [1199,3],
                        itemsDesktopSmall : [979,3],

                        navigation : false
                    });
                });

            </script>
            <script>

                jQuery(function(){

                    jQuery('#selectedProduct').camera({
                        height: '450px',
                        width: '450px',
                        loader: 'none',
                        time: 99000000,
                        playPause: false,
                        pagination: false,
                        thumbnails: false,
                        transPeriod	: 10,
                        portrait:true,

                    });

                });

            </script>
        {% endblock %}
 </body>
</html>
