{% extends 'base.html.twig' %}



{% block content %}

    <ol class="breadcrumb">
    <li><strong>You are here :</strong></li>
    <li><a href="{{ path('home') }}">Home</a></li>
    <li class="active"><a href="/department/{{ department.id }}"><strong>{{ department.name }}</strong></a></li>
    </ol>

     <div class="product-filter">
       <table class="table">
        <tr>
            <th>
                <strong>Category :</strong>
            </th>
            {% for category in department.category %}
                <td>
                    <a href="/department/category/{{ category.id }}">   {{ category.name |title }}</a>
                </td>
            {% endfor %}
        </tr>
        <tr>
           <th>
               <strong>Brand :</strong>
           </th>
           {% for category in department.category %}
               {% for group in category.group %}
                   {% for brand in group.brand %}
                           <td>
                               <a href="/department/category/{{ brand.id }}">   {{ brand.name |title }}</a>
                           </td>
                   {% endfor %}
               {% endfor %}
           {% endfor %}
       </tr>
       </table>
     </div>




    <div class="row product-filter">
        <div class="row">
            <div style="padding-right: 4em" class="pull-right">
                <p>Total items in {{ department.name |title }} {{ pagination.getTotalItemCount }}</p>
            </div>
        </div>

            <div class="link">
                <ul>
                        {% for product in pagination %}
                            <li>
                                  <a href="/brows/{{ product.id }}">
                                       <span>  <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="height:290px"></span>
                                       <h2 class="title">
                                           <span class="brand">{{ product.brand.name |title}}</span>
                                           <span class="name">{{ product.name|title }}</span>
                                       </h2>
                                        <span class="price-box">
                                            <span>
                                                <span data-currency-iso="NGN">?</span>
                                                <span data-price="{{ product.price }}">{{ product.price }}</span>
                                            </span>
                                        </span>
                                  </a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>

    </div>
        {# display navigation #}
    <div style="" class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

        <div class="row">
            <div class="col-sm-12" >
                {% if customersChoiceProducts is defined %}
                    <div class="row">
                        <div class="col-sm-12" >
                            <h3>Most Popular Products</h3>
                            <div id="customersChoiceProducts" class="owl-carousel">

                                {% for product in customersChoiceProducts %}
                                    <div class="thumbnail carouselProducts">
                                        <a href="/brows/{{ product.id }}">
                                            <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">
                                            <div class="carouselProductsCaption">
                                                <div class="prodPrice">{{ product.price }}</div>
                                                <div class="prodTitle">{{ product.name }}</div>
                                            </div>
                                        </a>
                                    </div>
                                {%  endfor %}

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>




{% endblock %}
