{% extends 'base.html.twig' %}



{% block content %}


    <ol class="breadcrumb">
        <li><strong>You are here :</strong></li>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active"><a href="/department/{{ group.category.department.id }}">{{ group.category.department.name |title }}</a></li>
        <li class="active"><a href="/department/category/{{ group.category.id }}">{{ group.category.name |title }}</a></li>
        <li class="active"><a href="/department/category/{{ group.id }}"><strong>{{ group.name |title }}</strong></a></li>
    </ol>

    <div class="row product-filter">
        <div class="col-xs-8">
            <div style=" margin: 12px 0px; height:290px" class="thumbnail">
                    <img src="{{ vich_uploader_asset(group, 'logoFile') }}" alt="{{ group.name }}"
                         style="display:block;max-width:100%;max-height: 100%">
            </div>
        </div>
        <div class="col-xs-4">

        </div>
    </div>



    <div class="row product-filter">
        <div style="padding-right: 4em" class="pull-right">
            <p>Total items in {{ group.name |title }} {{ pagination.getTotalItemCount }}</p>
        </div>


            <div class="link">
                    <ul>
                        {% for product in pagination %}
                                    <li >
                                      <a href="/brows/{{ product.id }}">
                                           <span>  <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="height:290px"></span>
                                           <h2 class="title">
                                               <span class="brand">{{ product.brand.name |title}}</span>
                                               <span class="name">{{ product.name|title }}</span>
                                           </h2>
                                            <span class="price-box">
                                                <span>
                                                    <span data-currency-iso="NGN">?</span>
                                                    <span data-price="{{ product.price }}">{{ product.price }}</span>
                                                </span>
                                            </span>
                                      </a>
                                    </li>
                        {% endfor %}
                    </ul>
            </div>

    </div>
        {# display navigation #}
        <div class="">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="row">
            <div class="col-xs-12" >
                {% if customersChoiceProducts is defined %}
                    <div class="row">
                        <div class="col-sm-12" >
                            <h3>Most Popular Products</h3>
                            <div id="customersChoiceProducts" class="owl-carousel">

                                {% for product in customersChoiceProducts %}
                                    <div class="thumbnail carouselProducts">
                                        <a href="/brows/{{ product.id }}">
                                            <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">
                                            <div class="carouselProductsCaption">
                                                <div class="prodPrice">{{ product.price }}</div>
                                                <div class="prodTitle">{{ product.name }}</div>
                                            </div>
                                        </a>
                                    </div>
                                {%  endfor %}

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
