{% extends 'base.html.twig' %}


{% block slider %}
    <div  style="border: solid   0.09em #2C3E50 ;" id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
    {#    <ol class="carousel-indicators">
            {% for key,badge in badges %}
                {% if key == 0 %}
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#carousel" data-slide-to="1"></li>
                {% endif %}
            {% endfor %}
        </ol>
#}
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for key,badge in badges %}
                {% if key == 0 %}
                    <div style="height: 390px" class="item active">
                        <img src="{{ vich_uploader_asset(badge, 'logoFile') }}" alt="{{ badge.name }}"
                             style="height: 390px;width: 100%"/>
                    </div>

                {% else %}
                    <div style="height: 390px" class="item ">
                        <img src="{{ vich_uploader_asset(badge, 'logoFile') }}" alt="{{ badge.name }}"
                             style="height: 390px; width: 100%"/>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            {#<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            {#<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}


{% block content %}

<h2 class="h2 -underline" >Featured Departments</h2>

    {% for department in departments %}

            <div class="col-sm-6" >
                <div style=" margin: 12px 0px; height:290px" class="thumbnail">
                    <a href="/department/{{ department.id }}">
                        <img src="{{ vich_uploader_asset(department, 'logoFile') }}" alt="{{ department.name }}"
                             style="display:block;max-width:100%;max-height: 100%"></a>
                </div>
              <div style=" margin: 0px 0px 50px; font-family: Aleo Regular,Palatino Linotype,Palatino;
margin-left: 0px;
text-overflow: clip;
height: 118px;
width: 420px;
white-space: normal;
padding: 0px;">
                  <h3>{{ department.topic }}</h3>
                  <p>{{ department.description }}</p>
              </div>
            </div>

    {% endfor %}


    {% if newArrivals is defined %}
        <div class="row">
            <div class="col-sm-12" >
                <h3>New Arrivals</h3>
                <div id="newProducts" class="owl-carousel">

                    {% for product in newArrivals %}
                    <div class="thumbnail carouselProducts">
                        <a href="/brows/{{ product.id }}">
                         <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">
     
                          <div class="carouselProductsCaption">
                               <div class="prodPrice">{{ product.price }}</div>
                              <div class="prodTitle">{{ product.name }}</div>
                          </div>
                        </a>
                    </div>
                    {%  endfor %}

                </div>
            </div>
        </div>
    {% endif %}


        {#    {% if featuredProducts is defined %}
                <div class="row">
                    <div class="col-sm-12" >
                        <h3>Featured Products</h3>
                        <div id="featuredProducts" class="owl-carousel">

                            {% for product in featuredProducts %}
                                <div class="thumbnail carouselProducts">
                                    <a href="/brows/{{ product.id }}">
                                        <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">

                                    <div class="carouselProductsCaption">
                                        <div class="prodPrice">{{ product.price }}</div>
                                        <div class="prodTitle">{{ product.name }}</div>
                                    </div>
                                    </a>
                                </div>
                            {%  endfor %}

                        </div>
                    </div>
                </div>
            {% endif %}

#}

   {# <div class="row">
        <div id="advart" class="col-sm-6" >
            <div style="  height:260px" class="thumbnail">
                <a href="#brows.php?produc_id=">
                    <img src="../mul_slide/img/owl4.jpg" alt="Advert" style="width:auto;  height:170px">
                </a>
            </div>
        </div>
        <div id="promo" class="col-sm-6" >
            <div style="  height:260px" class="thumbnail">
                <a href="#brows.php?produc_id=">
                    <img src="../mul_slide/img/owl4.jpg" alt="promo" style="width:auto;  height:170px"></a>
            </div>
        </div>
    </div>

#}

            {% if sponsoredProducts is defined %}
                <div class="row">
                    <div class="col-sm-12" >
                        <h3>Sponsored Products</h3>
                        <div id="sponsoredProducts" class="owl-carousel">

                            {% for product in newArrivals %}
                                <div class="thumbnail carouselProducts">
                                    <a href="/brows/{{ product.id }}">
                                        <img src="{{ vich_uploader_asset(product, 'frontImageFile') }}" alt="" style="width:auto;  height:200px">
                                    <div class="carouselProductsCaption">
                                        <div class="prodPrice">{{ product.price }}</div>
                                        <div class="prodTitle">{{ product.name }}</div>
                                    </div>
                                    </a>
                                </div>
                            {%  endfor %}

                        </div>
                    </div>
                </div>
            {% endif %}


{% endblock %}

